secretKey=some-secret-password-at-least-32-characters-long
jwtSecretKey=some-secret-password-at-least-32-characters-long-2
DB_HOST=localhost
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password
DB_PORT=5432
LOGGER=false
PORT=3030
# HTTPS=false
# SECURE_COOKIE=false
# COOKIE_SAMESITE=false
# COOKIE_DOMAIN=
# COOKIE_PATH=/
ERROR_LOG=true
