{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": ["airbnb-base", "eslint:recommended"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "describe": "readonly",
    "it": "readonly",
    "expect": "readonly"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "rules": {
    "import/extensions": "off",
    "consistent-return": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "function-paren-newline": "off",
    "import/prefer-default-export": "off",
    "no-console": "off",
    "no-undef": "error",
    "no-dupe-else-if": "off",
    "no-import-assign": "off",
    "no-setter-return": "off",
    "implicit-arrow-linebreak": "off",
    "no-confusing-arrow": "off",
    "object-curly-newline": "off"
  },
  "settings": {
    "import/extensions": [".js"]
  }
}
