backend:
  name: git-gateway
  branch: master # Branch to update (optional; defaults to master)
publish_mode: editorial_workflow
media_folder: "build/static/media/uploads"
public_folder: "/static/media/uploads"
