{
  "extends": "eslint-config-synacor",
  "globals": {
    "Preact": "readonly"
  },
  "rules": {
    "brace-style": "off",
    "indent": ["error", 2],
    "no-unused-vars": [
      2,
      {
        "args": "none",
        "varsIgnorePattern": "^Preact$"
      }
    ]
  },
  "settings": {
    "react": {
      "pragma": "h"
    }
  }
}
